div(data-ng-controller='HeaderController')
    .container
        .nav-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-ex1-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/')
            img.navbar-logo(src='/img/logo-symbol-32x32.png')
            span.navbar-brand-label Patak
        //
           collect nav links, forms and other contents for toggling
        .collapse.navbar-collapse.navbar-ex1-collapse
          ul.nav.navbar-nav
            li.active
              a(href='/') Home
            li
              a(href='/about') About
            li
              a(href='/contact') Contact 
            li(data-ng-repeat='item in menu', data-ng-show='global.user', ui-route='/{{item.link}}', ng-class='{active: $uiRoute}')
              a(href='#!/{{item.link}}') {{item.title}}
          ul.nav.navbar-nav.navbar-right(data-ng-hide='global.authenticated')
            li
              a(href='/signup') Sign up
            li
              a(href='/login')
                span.glyphicon.glyphicon-user
                | Sign In
          ul.nav.navbar-nav.navbar-right(data-ng-show='global.authenticated')
            li.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown')
                | {{global.user.name}}
                b.caret
              ul.dropdown-menu
                li
                  a(href='/profile') Profile
                  a(href='/signout') Signout


