extends ../layouts/layout

block head
  title Sign Up
block neck
    link(rel='stylesheet', href='/css/contact.css') 
    link(rel='stylesheet', href='/css/signup.css') 

block feet

block content
  div.row
    div.col-sm-6
      div.messages
        //p.offset2.error= message
        br
        br
        // span-col-sm-6.alert.alert-warning=message
        .alert.alert-warning
          strong= message
      div.page-header
        h1 Sign Up
      .container
        form(name="form", method="post", action="/signup", novalidate)
          input(type='hidden', name = '_csrf', value = token)
          //input(type='hidden', name = '_csrf', value = 'jambalaya')

          div.form-group
            label.control-label(for="name") Full Name:
            input.form-control(type="text", name="name", id="name",  required, ng-model="name", autofocus, placeholder="Enter Full name")
            span.help-block(ng-show="form.name.$dirty && form.name.$error.required") Please enter you full name
            span.help-block(ng-show="form.name.$dirty && form.name.$error.invalidChars") Username may not contain any non-url-safe

          div.form-group
            label.control-label(for="email") Email:
            input.form-control(type="email", ng-model="email", name="email", id="email", required, ng-model="email", placeholder="Enter email")
            span.help-block(ng-show="form.email.$dirty && form.email.$error.email") Email is invalid
            span.help-block(ng-show="form.email.$dirty && form.email.$error.isTaken") Email is already used
            span.help-block(ng-show="form.email.$dirty && form.email.$error.required") Please enter email
           characters

          div.form-group
            label.control-label(for="username") User Name:
            input.form-control(type="text", name="username", id="username", validate-username, required, ng-model="username", autofocus, placeholder="Enter Username")
            span.help-block(ng-show="form.username.$dirty && form.username.$error.required") Please choose a username
            span.help-block(ng-show="form.username.$dirty && form.username.$error.isTaken") Username already taken
            span.help-block(ng-show="form.username.$dirty && form.username.$error.invalidChars") Username may not contain any non-url-safe characters

          div.form-group
            label.control-label(for="password") Create Password:
            input.form-control(type="password", class="pass1", name="password", id="password", ng-model="password", password-validate, required, match="verification", placeholder="Enter password", style="width: 70%;")
            span.help-block(ng-show="form.password.$dirty && form.password.$error.required") Please enter a password
            span.help-block(ng-show="form.password.$dirty && form.password.$error.pwd") Invalid Password. Length must be > 8 characters and have a letter and number

            input.form-control(type="text",  name="strength", id="strength", value="weak", disabled, style="width: 25%;")

          div.form-group
            label.control-label(for="verify", class="verify") Verify Password:
            input.form-control(type="password", class="verification", name="verification", id="verification", ng-model="verification", required, match="password", placeholder="Verify password", style="width: 70%;")
            span.help-block(ng-show="form.verification.$dirty && form.verification.$error.required") Please repeat your password
            span.help-block(ng-show="form.verification.$dirty && form.verification.$error.match && !form.verification.$error.required") Passwords don't match

          if error
            div.alert #{error}
          input.btn.btn-primary(type="submit", value="Create My Account", ng-disabled="form.$invalid")
            
    // .special is defined in contact.css
    div.col-sm-6.special
      div.page-header
        br
        br
        //br
        h1 You Can Help!
      p.lead Spare some money for the deserving students
      //.super-awesome is defined in contact.css
      span.glyphicon.glyphicon-thumbs-up.super-awesome
  script(type='text/javascript', src='/js/check-password.js')


