 
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">
                    <h3>View Contact</h3> 
                </div>
            </div>
            <div class="modal-body">

              
              <dl class="dl-horizontal">
                <dt ng-repeat="header in allheaders ">{{ header}}</dt>
                  <dd>{{ contact.name }}</dd>
                  <dd>{{ contact.phone || " - " }}</dd>
                  <dd><a href="mailto:{{ contact.email }}">{{ contact.email || " - " }}</a></dd>
                  <dd><a href="https://www.facebook.com/{{ contact.facebook }}" target="_blank">{{ contact.facebook || " - "}}</a></dd>
                  <dd><a href="https://www.twitter.com/{{ contact.twitter }}" target="_blank">{{ contact.twitter || " - " }}</a></dd>
                  <dd><a href="skype://{{ contact.skype }}?call">{{ contact.skype || " - " }}</a></dd>
              </dl>

            </div>
            <div class="modal-footer">
                <button class="btn btn-warning cancel" ng-click="closeView()">Cancel</button>
            </div>
        </div>
    </div> 
 
