extends ../layouts/default

block head
  title Profile

block neck
    link(rel='stylesheet', href='/css/contact.css') 

block feet

block content
  // init window.user for menu to work properly

  script(type="text/javascript").
   window.user = !{JSON.stringify(user)};

  // this function overrides the ng-view function
  // when clicking on this while logged in
  // routeProvider no longers work

  // have to click home to reinit ng-view

  
  div.container
    div(data-ng-controller="MobileFormController", data-ng-init="getDefault()")
    
      div.col-sm-4
        div.container
          div.row

            br
            br
            div.panel.panel-default
              div.panel-body
                h3  {{global.user.name}}
                p View my profile page
          div.row
         
             ul.nav.nav-pills.nav-stacked
                li.active
                  a(href='/account') Account
                li.divider
                li
                  a(href='/profile') Profile
                li.divider
                li
                  a(href='/resetpassword') Pasword 
                li.divider
                li
                  a(href='/mobile') Mobile
                li.divider

      div.col-sm-8.special 
        div.container 
          div.row
            br
            br
            div.panel.panel-default
              div.panel-body
                h3 Mobile
                .container
                  form.form-horizontal(name="form", method="post",  novalidate)
                    div.form-group
                      label.col-sm-2.control-label(for="country") Movies:
                      .col-sm-6
                      input(style="width:400px", name="movie", id="movie", ui-select2="movieOptions",  required, ng-model="mobile.movie")

                    div.form-group
                      label.col-sm-2.control-label(for="country") Country:
                      .col-sm-6
                      <pre>Selected: {{mobile.country|json}}</pre>
                      select.form-select(style="width:400px", name="country", id="country", ui-select2='ui-select2', ng-model="mobile.country", ng-required='true', ng-options="country as country.countyName for country in countries",data-placeholder="Choose Country")


                  
                    div.form-group
                      label.col-sm-2.control-label(for="states2") States2:
                      .col-sm-6
                      //<pre>Selected: {{mobile.state2|json}}</pre>
                      select(style="width:400px", name="states2", id="states2", ui-select2='ui-select2', ng-model="mobile.state2", data-placeholder="Choose State2")
                        option
                          option(ng-repeat="state2 in stateData2", value="{{state2.abbreviation}}") {{state2.name}}

                    div.form-group
                      label.col-sm-2.control-label(for="number") Phone Number:
                      .col-sm-6
                      //<pre>Selected: {{mobile.phoneNumber|json}}</pre>
                      input(style="width:400px", name="number", id="number", ui-select2="dataJsonOptions",  required, ng-model="mobile.phoneNumber",  autofocus, data-placeholder="Choose data json")

                    div.form-group
                      label.col-sm-2.control-label(for="carrier") Carrier:
                      .col-sm-6
                      //pre>Selected: {{mobile.carrier|json}}</pre>
                      select(style="width:400px", name = "carrier", ui-select2='ui-select2', ng-model='mobile.carrier', data-placeholder='Pick a Carrier')
                          option(value='')
                              option(value='globe') Globe
                              option(value='smart') Smart
                              option(value='sun') Sun

                    // submit here
                  input.btn.btn-primary(type="submit", value="Activate Phone", data-ng-click="updateMobile()")
           

