extends ../layouts/default

block head
  title Profile

block neck
    link(rel='stylesheet', href='/css/contact.css') 

block feet

block content
  // init window.user for menu to work properly

  script(type="text/javascript").
   window.user = !{JSON.stringify(user)};

  // this function overrides the ng-view function
  // when clicking on this while logged in
  // routeProvider no longers work

  // have to click home to reinit ng-view

  
  div.container
    div(ng-controller="ResetPasswordFormController", ng-init="getDefault()") 
    
      div.col-sm-4
        div.container
          div.row

            br
            br
            div.panel.panel-default
              div.panel-body
                h3  {{global.user.name}}
                p View my profile page
          div.row
         
             ul.nav.nav-pills.nav-stacked
                li.active
                  a(href='/account') Account
                li.divider
                li
                  a(href='/profile') Profile
                li.divider
                li
                  a(href='/resetpassword') Password 
                li.divider
                li
                  a(href='/mobile') Mobile
                li.divider

      div.col-sm-8.special 
        div.container
          div.row
            br
            br
            div.panel.panel-default
              div.panel-body 
                br
                div.messages 
                  .alert.alert-warning
                    strong= message 
                hr 
                h3 Password
                .container
                  form.form-horizontal(name="form", method="post",  novalidate)  

                    input(type='hidden', name = '_csrf', value = token)

                    div.form-group
                      label.control-label(for="currentpassword") Enter current password:
                      input.form-control(type="password", class="currentpass1", name="currentpassword", id="currentpassword", ng-model="reset.currentpassword", required, placeholder="Enter curent password", style="width: 70%;")

                      span.help-block(ng-show="form.password.$dirty && form.password.$error.required") Please enter your current password
                      span.help-block(ng-show="form.username.$dirty && form.username.$error.isTaken") Wrong password

                      label.control-label(for="password") Enter new password:
                      input.form-control(type="password", class="pass1", name="password", id="password", ng-model="reset.newpassword", password-validate, required, match="reset.verification", placeholder="Enter password", style="width: 70%;")
                      span.help-block(ng-show="form.password.$dirty && form.password.$error.required") Please enter a password
                      span.help-block(ng-show="form.password.$dirty && form.password.$error.pwd") Invalid Password. Length must be > 8 characters and have a letter and number
                      input.form-control(type="text",  name="strength", id="strength", value="weak", disabled, style="width: 25%;")
                    div.form-group
                      label.control-label(for="verify", class="verify") Verify Password:
                      input.form-control(type="password", class="verification", name="verification", id="verification", ng-model="reset.verification", required, match="reset.newpassword", placeholder="Verify password", style="width: 70%;")
                      span.help-block(ng-show="form.verification.$dirty && form.verification.$error.required") Please repeat your password
                      span.help-block(ng-show="form.verification.$dirty && form.verification.$error.match && !form.verification.$error.required") Passwords don't match
                    hr
                    br
                    if error
                      div.alert #{error}
                    input.btn.btn-primary(type = 'submit', value="Change Password", ng-disabled="form.$invalid", ng-click="changePassword()") 
          
          script(type='text/javascript', src='/js/scripts/check-password.js')

                 

